html {
	scroll-behavior: smooth;
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

table,
th,
td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 4px 6px;
}

th {
	background-color: #cacaca;
	text-align: left;
}

table {
	width: 100%;
}

.sidebar,
.main-content {
	min-height: 300vh;
}

.container {
	display: flex;
}

.icon-flex-container {
	display: flex;
	flex-wrap: nowrap;
}

.icon-flex-container>div {
	margin: 4px;
	padding: 6px;
	width: 20px;
	height: 20px;
	text-align: center;
	background-color: #f1eff7;
	border-radius: 50%;
}

.certification-flex-container {
	display: flex;
	flex-wrap: nowrap;
}

.certification-flex-container>div {
	margin: 4px;
	padding: 6px;
}

.sidebar {
	flex: 0 0 300px;
	position: fixed;
	top: 0;
	left: 0;
	width: 250px;
	height: 100%;
	background-color: #0f127a;
	padding: 20px;
	padding-top: 60px;
}

.main-content {
	flex-grow: 1;
	background-color: rgb(249, 248, 240);
	height: 100%;
	margin-left: 290px;
	padding: 60px 80px;
	/* padding-top: 60px; */
}

.sidebar img {
	max-width: 94%;
	height: auto;
	border-radius: 50%;
	border: 6px solid #ffffff;
	position: relative;
	z-index: 1;
}

.sidebar nav a {
	color: white;
	display: block;
	padding: 10px;
	text-decoration: none;
}

.sidebar h2,
.sidebar h4 {
	color: white;
	text-align: center;
}

.sidebar nav {
	margin-top: 60px;
}

.sidebar nav a {
	display: block;
	margin: 6px;
	padding: 4px 0px 4px 16px;
	background-color: #f1eff7;
	border-radius: 14px;
	color: #000000;
	text-decoration: none;
	transition: background-color 0.3s ease-in-out;
}

.sidebar nav a:hover {
	background-color: #72b1e9;
}

.sidebar #particles-js {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}